{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for article in articles %}
        <div class="col-4 my-5">
            <div class="card" style="width: 18rem;">
                <img src="{{article.illustration}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.content[:20] ~ '...'}}</p>
                    <a href="{{ path('show_one', { 'id' : article.id })}}" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}